 
<div id="text">
	<div class="info">
		<img src="/public/images/1.jpg">
		<h1 id="maintext">This petition is about everything you can find on our web site, becouse it is against petitions!</h1>
	</div>
	<div class="info">
		<img src="/public/images/2.jpg">
		<h1 id="maintext">People are trying to ban everything they do not like, so we want to forbid possible petitions in the future by creating this petition.</h1>
	</div>
	<div class="info">
		<img src="/public/images/3.jpg">
		<h1 id="maintext">If you do not like petitions, sign this petition to ban petitions.</h1>
	</div>
</div>
<form method="get" action="/petition">
	<button id="anoing" class="sign">SIGN</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/public/text.js"></script>
